    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Society</h2>
                <p>
                  The F_worlds Society started as a loose collective of friends who gathered to play games in late 2017.
                </p>
                <p>
                  Our first adventure was an epic realm-spanning fantastical sci-fi Shadowrun adventure set in a cthuluian
                  invasion of a world our questors got transported to through a time- and space-warping portal.  After months of
                  travails, they defeated the marauding Elder God and were able to return to their own world.
                </p>
                <p>
                  Emboldened by this {extreme fun}, we decided to keep on playing.
                </p>
                <p>
                  Gloomhaven came out, and we set off on more whirlwind adventures: smashing monsters, hunting necromancers,
                  and exploring the world.  Unfortunately one of our members moved to a far, far off land, hindering our
                  boardgame progression.
                </p>
                <p>
                  So, we switched back to Shadowrun (3rd edition, the one that counts).  Striving to stop the takeover of the
                  world by the mad Renraku AI, DEUS, our adventures are all that stand between humanity and certain chaos.
                </p>
                <p>
                  Follow along, dear readers, as we embark on more exploits with other systems (adorable little mice, with <em>swords</em>!),
                  other worlds, and other players.
                </p>
            </div>
        </div>
    </section>
